.product-block{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    padding-left: 5rem;
    padding-top: 1rem;
    grid-template-rows: auto;
}
.product-block img{
    height: 194px;
    width: 194px;
    cursor: pointer;
}
.product-block h5{
    font-size: 22px;
    font-weight: 600;
}
.product-data p{
    font-size: 14px;
    font-weight: 600;
}
.product-data li{
    
}
